In [1]:
import sqlite3
import pandas as pd

/usr/local/lib/python3.8/dist-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.0' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
# 프로그램 실행 전 (데이터 처리가 되지 않은 경우 에러 발생)
conn = sqlite3.connect('./database/database.db')
query = "SELECT * FROM TB_meta_info"  
df = pd.read_sql(query, conn)

DatabaseError: Execution failed on sql 'SELECT * FROM TB_meta_info': no such table: TB_meta_info

In [3]:
# 프로그램 실행 후 (데이터 처리가 완료된 경우 데이터 정상 출력)
conn = sqlite3.connect('./database/database.db')
query = "SELECT * FROM TB_meta_info"  
df = pd.read_sql(query, conn)

In [4]:
df

,full_path,folder,file_name,file_size,width,height,밀도,흡수율,안전성,잔입자_통과량,target_data
0,./data/image/TS_1모래입자크기분류_009/2600156.png,TS_1모래입자크기분류_009,2600156.png,562613,1920,1080,2.62,0.67,0.92,15.70,안정
1,./data/image/TS_1모래입자크기분류_008/2600156.png,TS_1모래입자크기분류_008,2600156.png,674816,1920,1080,2.62,0.67,0.92,15.70,안정
2,./data/image/TS_1모래입자크기분류_009/2600192.png,TS_1모래입자크기분류_009,2600192.png,1270181,1920,1080,2.62,0.67,0.92,15.70,안정
3,./data/image/TS_1모래입자크기분류_009/2600181.png,TS_1모래입자크기분류_009,2600181.png,1245979,1920,1080,2.62,0.67,0.92,15.70,안정
4,./data/image/TS_1모래입자크기분류_009/2600211.png,TS_1모래입자크기분류_009,2600211.png,1284082,1920,1080,2.62,0.67,0.92,15.70,안정
...,...,...,...,...,...,...,...,...,...,...,...
357306,./data/image/TS_1모래입자크기분류_001/0530163.png,TS_1모래입자크기분류_001,0530163.png,3217707,1920,1080,2.65,2.68,1.10,0.14,위험
357307,./data/image/TS_1모래입자크기분류_001/0530175.png,TS_1모래입자크기분류_001,0530175.png,3231272,1920,1080,2.65,2.68,1.10,0.14,위험
357308,./data/image/TS_1모래입자크기분류_001/0530152.png,TS_1모래입자크기분류_001,0530152.png,3107441,1920,1080,2.65,2.68,1.10,0.14,위험
357309,./data/image/TS_1모래입자크기분류_001/0530231.png,TS_1모래입자크기분류_001,0530231.png,3228419,1920,1080,2.65,2.68,1.10,0.14,위험
357310,./data/image/TS_1모래입자크기분류_001/0530135.png,TS_1모래입자크기분류_001,0530135.png,3285087,1920,1080,2.65,2.68,1.10,0.14,위험

In [14]:
# conn.close()